.item{
    display: flex;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    flex-direction: row-reverse;
}

.content{
    flex: 3;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imgContainer{
    flex: 1;
    position: relative;

   
}
.img{
    object-fit: cover;
}
.title{
    font-size: 30px;
}
.description{
    font-size: 16px;
}